@{
    ViewData["Title"] = "About";
}


<p>
    <h3>DELIVERY</h3>
    We currently deliver to more than 750 cities across India. Click here to check Pin Codes we deliver to.

    We charge a minimum shipping fee of Rs.100/- on an order value less than Rs.900/-. This will be added at the payment page before completing the purchase.

    Majority of our orders are delivered within 5-7 working days from the day the order is successfully confirmed. Products that are specially procured for you from stores outside your state may take 7-12 working days. Made to order products can take 15-30 days for delivery. We are committed to deliver products within our promised timelines however we deeply regret any delay due to circumstances beyond our control.

    In the unlikely event that we are not able to deliver your order completely within 7 working days, we shall cancel the remaining undelivered part of the order, and send an email to you informing about the same. In such cases, your payment against the undelivered part of the order shall be refunded, in the manner the payment was made*

    If your order has multiple items, these may ship from different locations in separate shipments. You will receive an email if the shipment does not contain all the items that you had ordered.

    If you believe that the product is not in good condition, or if the packaging is tampered or damaged, please refuse to accept delivery of the package, and call our Customer Care 1-800-419-6648 or write to us at customercare@shoppersstop.com, mentioning your order reference number. We shall make our best efforts to ensure that a replacement delivery is made to you at the earliest.

    Please note all items (including gifts) will be shipped with an invoice mentioning the price, as per Indian Tax Regulations..
</p>
<div><img src="~/images/Landing/landing1.jpg" /></div>

