@{
    ViewData["Title"] = "Home Page";
}




@if (TempData["ErrorMessage"] != null)
{
   <div class="alert alert-info">@TempData["ErrorMessage"]</div>
}
   <div class="row">
       <div class="col-md-4">
           <img src="~/images/Landing/landing1.jpg" style="height:600px;width:600px;" />
       </div>
       <div class="col-md-4"> <img src="~/images/Landing/landing2.jpg" style="height:600px;width:600px;" /></div>
       <div class="col-md-4"> <img src="~/images/Landing/LANDING3.png" style="height:600px;width:600px;" /></div>
   </div>
   

